<div class="container-fluid work" id="work">
	<div class="container">
		<div class="row" id="starts">
			<div class="col-md-12 col-sm-12 col-xs-12 work-list">
				<h2 class="text-center portfolio-text">Captain Teams</h2>
				<% @captain_teams.each do |team| %>
					<%= render partial: 'teams/show', locals: { team: team } %>
				<% end %>

				<h2 class="text-center portfolio-text">Player Teams</h2>
				<% @non_captain_teams.each do |team| %>
					<%= render partial: 'teams/show', locals: { team: team } %>
				<% end %>
			</div>

		</div>
		<%= link_to "New Team", new_team_path, class: "btn btn-default btn-sub" %>
	</div>
</div>