<div class='outer-container teams-container'>
	<div class='team-category-header'><h2>Captain Teams</h2></div>
	<% @captain_teams.each do |team| %>
		<div class="team-digest-grid grid-items">
			<%= render partial: 'teams/show', locals: { team: team } %>
		</div>
	<% end %>


	<div class='team-category-header'><h2>Player Teams</h2></div>
	<% @non_captain_teams.each do |team| %>
		<div class="team-digest-grid grid-items">
			<%= render partial: 'teams/show', locals: { team: team } %>
		</div>
	<% end %>
	<%= link_to "New Team", new_team_path, class: "btn new-team-btn" %>
</div>
