<div class="container-fluid work" id="work">
	<div class="container">
		<div class="row" id="starts">
			<div class="col-md-12 col-sm-12 col-xs-12 work-list">
				<h2 class="text-center portfolio-text">Manage Your Teams</h2>
				<% @teams.each do |team| %>
					<%= render partial: 'show', locals: { team: team } %>
				<% end %>
			</div>
		</div>
		<%= link_to "New Team", new_team_path, class: "btn btn-default btn-sub" %>
	</div>
</div>