<div class='outer-container'>
	<h2>Captain Teams</h2>
	<% @captain_teams.each do |team| %>
		<div class="team-digest-grid grid-items">
			<%= render partial: 'teams/show', locals: { team: team } %>
		</div>
	<% end %>


	<h2>Player Teams</h2>
	<% @non_captain_teams.each do |team| %>
		<div class="team-digest-grid grid-items">
			<%= render partial: 'teams/show', locals: { team: team } %>
		</div>
	<% end %>
	<%= link_to "New Team", new_team_path, class: "btn btn-default btn-sub" %>
</div>