<ul class="nav nav-tabs nav-justified">
  <li role="presentation" id="games" class="team-nav active"><a href="#">Games</a></li>
  <li role="presentation" id="roster" class="team-nav"><a href="#">Roster</a></li>
  <li role="presentation" id="settings" class="team-nav"><a href="#">Settings</a></li>
</ul>

<section>
	<h2>Games</h2>
	<span>
		<% @team.games.each do |game| %>
			<div><%= game.time %></div>
		<% end %>
		<%= render partial: 'games/new', locals: { team: @team } %>
	</span>
</section>

<section>
	
</section>