<ul class="nav nav-tabs nav-justified">
  <li role="presentation" id="games" class="team-nav active"><a href="#">Games</a></li>
  <li role="presentation" id="roster" class="team-nav"><a href="#">Roster</a></li>
  <li role="presentation" id="settings" class="team-nav"><a href="#">Settings</a></li>
</ul>

<%= render partial: 'games/index' %>

<%= render partial: 'teams/roster', locals: { team: @team } %>