<ul class="nav nav-tabs nav-justified">
  <li role="presentation" class="active"><a href="#">Games</a></li>
  <li role="presentation"><%= link_to "Roster", team_roster_path(@team), js: true %></li>
  <li role="presentation"><a href="#">Settings</a></li>
</ul>

<section>
	<h2>Games</h2>
	<span>
		<% @team.games.each do |game| %>
			<div><%= game.time %></div>
		<% end %>
		<%= render partial: 'games/new', locals: { team: @team } %>
	</span>
</section>

<section>
	
</section>