<% @team.memberships.each do |membership| %>
	<div><%= membership.player.name %> - <%= membership.player.email %> - $<%= membership.amount_owed %></div>
<% end %>

<div class='row'>
	<%= render partial: 'memberships/new', locals: { team: @team } %>
</div>