<ul class="nav nav-tabs nav-justified">
  <li role="presentation" id="games" class="team-nav active"><a href="#">Games</a></li>
  <li role="presentation" id="roster" class="team-nav"><a href="#">Roster</a></li>
  <li role="presentation" id="settings" class="team-nav"><a href="#">Settings</a></li>
</ul>

<section ng-controller="ngGamesCtrl" id="content">
	<h2>Games</h2>
	<span>
		<div ng-repeat="game in games">
			{{ game.time | date : 'short' }}
		</div>
		<%= render partial: 'games/new', locals: { team: @team } %>
	</span>
</section>

<%= render partial: 'teams/roster', locals: { team: @team } %>