<div ng-controller='ngRosterCtrl'>
	<h2>Team Members</h2>
	<h3>Active</h3>

	<ul class="list-group">
		<li ng-repeat='membership in memberships' class="list-group-item">
			<%= render partial: 'memberships/show' %>
		</li>
	</ul>

	<h3>Invited</h3>

	<ul class="list-group">
		<li ng-repeat='invite in invites' class="list-group-item">
		{{ invite.email }}
		</li>
	</ul>

	<span>
		<%= render partial: 'memberships/new' %>
	</span>
</div>