<div class="row">
	<div class="col-md-12">
		<div class="col-md-6 col-sm-12">
      <form ng-submit='addPlayer()'>
        <input ng-model='inviteEmail' type='email' class="form-control form-effect">                                
        <input type="submit" ng-submit="inviteEmail = null" value="Invite to Team" class="btn btn-default btn-success">
      </form>  
		</div>
  </div>
</div>
