<div class="row">
	<div class="col-md-12">
		<div class="col-md-6 col-sm-12">
      <%= form_for :team_membership, url: team_memberships_path(team) do |membership| %>
        <div class="form-group">                                 
          <%= membership.text_field :email, class: "form-control form-effect", placeholder: "Email" %>
        </div>
        <%= membership.submit "Add new player", class: "btn btn-default btn-sub" %>
      <% end %>
		</div>
  </div>
</div>