<div class="alert alert-danger" role="alert">
  <!-- <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> -->
  <% errors.each do |error| %>
    <div><%= error %></div>
  <% end %>
</div>