<div class="hero">
	<div class="hero-inner">
    <a href="" class="hero-logo"><img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png
" alt="Logo Image"></a>
		<div class="hero-copy">
			<h1>Managing your recreational sports teams shouldn't be a pain.</h1>
			<p>Team Genie makes it easy</p>	
		</div>
	</div>
</div>
<div class='grid-items'>
	<span class="grid-item">
    <i class="fa fa-clipboard fa-3x"></i>
    <h1>Manage Roster</h1>
    <p>Invite your teammates to join your team and communicate seamlessly via in-app emails.</p>
  </span>
  <span class="grid-item">
    <i class="fa fa-calendar fa-3x"></i>
    <h1>Schedule Upcoming Games</h1>
    <p>Players receive automatic RSVP requests and reminders for each game.</p>
  </span>
  <span class="grid-item">
    <i class="fa fa-pencil fa-3x"></i>
    <h1>Track Attendance Trends</h1>
    <p>Captains monitor attendance through a digest every game.  Avoid surprises come gameday!</p>
  </span>
</div>
