<div class="slide" id="slide-2" data-slide="2">
	<div class='container'>
		<div class="row title-row">
			<div class="col-xs-12 font-thin">Managing your recreational sports teams shouldn't be a pain.</div>
		</div><!-- /row -->
		<div class="row line-row">
			<div class="hr">&nbsp;</div>
		</div><!-- /row -->
		<div class="row subtitle-row">
			<div class="col-xs-12 font-thin">TeamGenie makes it easy!</div>
		</div><!-- /row -->
		<div class="row content-row">
			<div class="col-xs-12 col-lg-3 col-sm-6">
				<p><i class="fa fa-clipboard fa-5x"></i></p>
				<h2 class="font-thin">Manage Team <span class="font-semibold">Roster</span></h2>
				<h4 class="font-thin">Invite your teammates to join your team and communicate seamlessly via in-app emails.</h4>
			</div><!-- /col12 -->
			<div class="col-xs-12 col-lg-3 col-sm-6">
				<p><i class="fa fa-calendar fa-5x"></i></p>
				<h2 class="font-thin">Schedule Upcoming <span class="font-semibold">Games</span></h2>
				<h4 class="font-thin">Players receive automatic RSVP requests and reminders for each game.</h4>
			</div><!-- /col12 -->
			<div class="col-xs-12 col-lg-3 col-sm-6">
				<p><i class="fa fa-pencil fa-5x"></i></p>
				<h2 class="font-thin">Track Attendance<span class="font-semibold"> Trends</span></h2>
				<h4 class="font-thin">Captains monitor attendance through a digest every game.  Avoid surprises come gameday!</h4>
			</div><!-- /col12 -->
			<div class="col-xs-12 col-lg-3 col-sm-6">
				<p><i class="fa fa-refresh fa-5x"></i></p>
				<h2>Find<span class="font-semibold"> Substitute</span> Players</h2>
				<h4 class="font-thin">Not enough players?  Use TeamGenie to procure substitutes.</h4>
			</div><!-- /col12 -->
		</div><!-- /row -->
	</div>
</div><!-- /slide2