<div class='outer-container'>
  <div class="hero">
  	<div class="hero-inner">
      <a href="" class="hero-logo"><img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png
  " alt="Logo Image"></a>
  		<div class="hero-copy">
  			<h1>Manage less, play more</h1>
  			<p>Team Genie makes managing recreational sports teams easy.</p>	
  		</div>
  	</div>
  </div>
  <div class='grid-items'>
  	<a href='#manage-roster' class="grid-item">
      <i class="fa fa-clipboard fa-3x"></i>
      <h1>Manage Roster</h1>
      <p>Invite your teammates to join your team and communicate seamlessly via in-app emails.</p>
    </a>
    <a href='#track-attendance' class="grid-item">
      <i class="fa fa-calendar fa-3x"></i>
      <h1>Track Attendance</h1>
      <p>Players receive automatic RSVP requests for each game and respond with a single click.</p>
    </a>
    <a href='#find-subs' class="grid-item">
      <i class="fa fa-pencil fa-3x"></i>
      <h1>Find Subs</h1>
      <p>Upcoming feature - find subs when your players are unavailable</p>
    </a>
  </div>

  <div class="hero" id='manage-roster'>
    <div class="hero-inner">
      <a href="" class="hero-logo"><img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png
  " alt="Logo Image"></a>
      <div class="hero-copy">
        <h1>Manager your roster</h1>
        <p>Dummy text that will contain an explanation of the feature.</p>  
      </div>
    </div>
  </div>

  <div class="hero" id='track-attendance'>
    <div class="hero-inner">
      <a href="" class="hero-logo"><img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png
  " alt="Logo Image"></a>
      <div class="hero-copy">
        <h1>Track Attendance</h1>
        <p>Dummy text that will contain an explanation of the feature.</p>
      </div>
    </div>
  </div>

  <div class="hero" id='find-subs'>
    <div class="hero-inner">
      <a href="" class="hero-logo"><img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png
  " alt="Logo Image"></a>
      <div class="hero-copy">
        <h1>Find Subs</h1>
        <p>Dummy text that will contain an explanation of the feature.</p>
      </div>
    </div>
  </div>
</div>