<div ng-controller="ngGamesCtrl">
  <div class="list-group games-container">
    <a href="#" class="list-group-item active">
      <h2 class="list-group-item-heading tab-title">Upcoming Games</h4>
    </a>
		<div ng-repeat="game in games" class="well game-well no-margin">
			<%= render partial: 'games/show' %>
		</div>
  </div>
	<%= render partial: 'games/new' %>
</div>