<form ng-submit="addGame()">
  <div class="form-group"> 
    <input ng-model='newGame.time' type='datetime-local', ampm: true, class: "form-control form-effect">                                
  </div>
    <input type="submit" value="Add new game" class="btn btn-default btn-success">
<form>
