<div class="col-md-12">
	 <div class="col-md-6 col-sm-12">
      <form ng-submit="addGame()">
        <div class="form-group"> 
          <input ng-model='newGame.time' type='datetime-local', ampm: true, class: "form-control form-effect">                                
        </div>
          <input type="submit" value="Add new game" class="btn btn-default btn-sub">
      <form>
    </div>
</div>
