<div class='game-container'>
	<div class='col-xs-12 col-sm-8'>
		<h3 class='game-time'>{{ game.time | date : 'short' }}</h3>
		<h4> @ [Location]</h4>
	</div>

	<div class='col-xs-12 col-sm-4'>
		<button ng-hide='game.deleteMode' ng-click='toggleDelete(game)' class="btn btn-warning pull-right"><span class='fa fa-trash'></span> Delete</button>
		<button ng-show='game.deleteMode' ng-click='deleteGame(game)' class="btn btn-danger pull-right"><span class='fa fa-trash'></span> Confirm Delete</button>
		<!-- Implement to change the 'See RSVPs' to 'Hide RSVPs' -->
		<button ng-click='toggleRsvps(game)' class="btn btn-primary pull-right">See RSVPs</button>
	</div>
	<div ng-show='game.active'>
		<%= render partial: 'rsvps/index' %>
	</div>
</div>